<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <!-- <link href="style.css" rel="stylesheet"> -->
    <link href="profile.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="profile-container">
        <header>
            <h1 class="profile-title">Profile Page</h1>
        </header>
        <main class="profile-content">
            <% if (locals.profile) { %>
                <section class="profile-info">
                    <h2>Your username: <em><%= profile.username %></em></h2>
                    <h3>Your saved recipes:</h3>
                    <ul class="saved-recipes">
                        <% for (let i = 0; i < profile.likes.length; i++) { %>
                            <li><%= profile.likes[i] %></li>
                        <% } %>
                    </ul>
                </section>
                <section class="profile-image">
                    <img src="png.png" id="output" alt="Profile Image"/>
                    <input type="file" id="img" name="img" accept="image/*" onchange="loadFile(event)">
                </section>
            <% } else { %>
                <h5 class="login-prompt">Log-in / Sign-up to get access to more features.</h5>
            <% } %>
        </main>
    </div>

    <div class="recommendations">
        <form action="/suggest" method="POST">
            <input type="hidden" name="user" value="<%= profile.username %>">
            <input type="hidden" name="hidden" value="<%= JSON.stringify(profile.likes) %>">
            <button type="submit" class="btn btn-outline-warning btn-lg">See stuff that you may like!</button>
        </form>
        <% if (locals.list) { %>
            <% for (let i = 0; i < list.length; i++) { %>
                <div class="card">
                    <div class="card-details">
                        <h5>Name: </h5> <p><%= list[i].title %></p>
                        <h5>Ingredients: </h5> <p><%= list[i].ingredients %></p>
                        <h5>Calories: </h5> <p><%= list[i].calories %></p>
                        <h5>Health Labels: </h5> <p><%= list[i].healthLabels %></p>
                        <form action="/card" method="GET">
                            <input type="hidden" name="inf" id="inf" value="<%= JSON.stringify(list[i]) %>"/>
                            <button type="submit" class="btn btn-outline-warning btn-lg">Take a look.</button>
                        </form>
                    </div>
                    <div class="card-image">
                        <img src="<%= list[i].image_link %>" alt="<%= list[i].title %> Image"/>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>

    <script>
        function loadFile(event) {
            let image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
</body>
</html>
